{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <style>
        .bg-blur {
            background-image: url("{% static 'assets/welcome.jpg' %}");
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
</head>
<body class="bg-gray-100 font-roboto">
    <div class="bg-blur"></div>
    <div class="flex min-h-screen justify-center items-center p-4">
        <div class="bg-white p-4 sm:p-6 rounded-lg shadow-lg w-full max-w-md text-center relative z-10 max-h-auto">
            <!-- Logo -->
            <div class="flex items-center mb-2">
                <img src="{% static 'assets/Bonyan-text-logo.png' %}" alt="Bonyan logo" class="h-8 w-auto">
            </div>
            <h1 class="text-2xl sm:text-3xl font-bold mb-4">Account Created Successfully</h1>
            <div class="mb-6">
                <img src="{% static 'assets/email_sent.png' %}" alt="Email sent illustration" class="mx-auto w-20 h-20 sm:w-24 sm:h-24" />
            </div>
            <p class="text-gray-600 mb-4 text-sm sm:text-base">
                Your account has been created successfully! To complete the registration process, please activate your account within the next 20 minutes.
            </p>
            <p class="text-gray-600 mb-6 text-sm sm:text-base">
                An activation link has been sent to your email address. Please check your inbox and click on the link to activate your account.
            </p>
            <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-6" role="alert">
                <p class="font-bold">Important:</p>
                <p>The activation link will expire in 20 minutes. Please activate your account as soon as possible.</p>
            </div>
            <a href="{% url 'authentication-web:login' %}" class="bg-blue-500 hover:bg-blue-600 transition-colors duration-300 text-white py-2 px-4 rounded-full font-bold inline-block mb-4">
                LOGIN TO YOUR ACCOUNT
            </a>
            <p class="text-gray-500 text-xs sm:text-sm">
                Didn't receive the email? Check your spam folder.
            </p>
        </div>
    </div>
</body>
</html>